<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="http://repository.517.jiali" value="http://repository.517.jiali/repository/nuget-hosted/" />
    <add key="517.jiali.group" value="http://repository.517.jiali/repository/nuget-group/" />
    <add key="http://tfs2019.517.jiali" value="http://tfs2019.517.jiali:8080/TPC_Middleware/_packaging/MisFrame/nuget/v3/index.json" />
    <add key="tfs2019.517.jiali/apicache" value="http://tfs2019.517.jiali:8080/TPC_Middleware/_packaging/ApiCache/nuget/v3/index.json" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageManagement>
    <add key="format" value="0" />
    <add key="disabled" value="False" />
  </packageManagement>
  <disabledPackageSources>
    <add key="http://tfs2019.517.jiali" value="true" />
    <add key="tfs2019.517.jiali/apicache" value="true" />
    <add key="517.jiali.group" value="true" />
  </disabledPackageSources>
</configuration>